<main class="base-main-container center-content mdc-top-app-bar--fixed-adjust">
    <div>
        <h1>Resultados</h1>
        <div>
            <h1>Matriz estandarizada</h1>>
            {{ euclidianSample|safe }}
        </div>    
        <div>
            <h1>Matriz </h1>
            {{ MEuclidiana | safe}}
        </div>
    
        <div>
            <h1>Matriz parcial estandarizada</h1>>
            {{ MParcial|safe }}
        </div>    
        <div>
            <h1>La distancia  entre los elementos [{{A}}] y [{{B}}] solicitados es: {{ Dst }}</h1>
        </div>
    </div>
</main>
